services:
  haproxy:
    container_name: haproxy
    ports:
      - 80:80
      - 443:443
    image: haproxytech/haproxy-alpine
    volumes:
      - ./haproxy/haproxy.cfg:/etc/haproxy/haproxy.cfg
      - ./certs/nakolach.pem:/etc/haproxy/certs/nakolach.pem:ro

  postgres:
    container_name: nakolach-postgres
    image: postgis/postgis:15-3.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./postgres/init.sh:/docker-entrypoint-initdb.d/init.sh:ro
      - ./postgres/pg_hba.conf:/opt/postgres/pg_hba.conf:ro
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: on-failure:3

  postgres-migrator:
    container_name: migrate
    image: migrate/migrate:v4.18.1
    volumes:
      - ./postgres/migrations.sh:/usr/local/bin/migrations.sh
      - ./server:/server
    entrypoint: /usr/local/bin/migrations.sh
    restart: no

  server:
    container_name: nakolach-server
    image: nakolach-server
    build:
      context: ./server
      target: base
      dockerfile: ./Dockerfile
    environment:
      DATABASE_CONNECTION_STRING: "Host=postgres;Database=nakolach_server;Username=postgres;Password=postgres"
      OSM_DATABASE_CONNECTION_STRING: "Host=postgres;Database=osm_gdansk;Username=postgres;Password=postgres"
      AUTH_ISSUER: "http://nakolach.com"
      AUTH_AUDIENCE: "http://nakolach.com"
      AUTH_KEY: ""
    volumes:
      - ./server:/workspace
    ports:
      - "5008:5008"
    entrypoint: ./dev-entrypoint.sh
    restart: on-failure:3

  panel:
    container_name: nakolach-panel
    image: nakolach-panel
    build:
      context: ./panel
      target: base
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./panel:/workspace
    entrypoint: ./dev-entrypoint.sh
    restart: on-failure:3

  osm-ingest:
    container_name: osm-ingest
    build: ./osm-ingest
    depends_on:
      - postgres
    volumes:
      - ./osm-ingest/data:/work/data
    restart: "no"

  graphhopper:
    container_name: graphhopper
    image: israelhikingmap/graphhopper:10.2
    ports:
      - "8989:8989"
      - "8990:8990"
    depends_on:
      - osm-ingest
    volumes:
      - ./osm-ingest/data/poland.osm.pbf:/data/gdansk.osm.pbf:ro
      - ./graphhopper/graph:/data/graph
      - ./graphhopper/entrypoint.sh:/entrypoint.sh:ro
      - ./graphhopper/config.yml:/config.yml:ro
    entrypoint: /entrypoint.sh
    restart: no

volumes:
  postgres:
